/bin/
/build/
/doc/html/
/doc/*.aux
/doc/*.log
/doc/*.pdf
/doc/*.bbl
/doc/*.blg
/doc/*.toc
/doc/*.out
/doc/*.mpx
/doc/shg.[0-9]*
!/doc/StatGaus.pdf
!/doc/gebauerm.pdf
/doc/doxwarn.txt
/lib/
mtrace
testshg.log
*.o
*.d
