/bin/
/build/
/doc/html/
/doc/cvs/
/doc/shg-cvs/
/doc/shgutf8.bib
/doc/*.aux
/doc/*.log
/doc/*.pdf
/doc/*.bbl
/doc/*.blg
/doc/*.toc
/doc/*.out
/doc/*.mpx
/doc/shg.[0-9]*
!/doc/StatGaus.pdf
!/doc/gebauerm.pdf
!/doc/cnf.pdf
!/doc/mckenzie.pdf
/doc/doxwarn.txt
/lib/
/exprmnts/tree_test
mtrace
testshg.log
*.o
*.d
