/bin/
/build/
/doc/html/
/doc/cvs/
/doc/shg-cvs/
/doc/shgutf8.bib
/doc/*.aux
/doc/*.log
/doc/*.pdf
/doc/*.bbl
/doc/*.blg
/doc/*.toc
/doc/*.out
/doc/*.mpx
/doc/shg.[0-9]*
!/doc/ascii.pdf
!/doc/cnf.pdf
!/doc/gebauerm.pdf
!/doc/mckenzie.pdf
!/doc/StatGaus.pdf
/doc/doxwarn.txt
/lib/
/extras/valgrind/tree
/tools/genbuchb
/tools/gmconsts
/tools/ksone
/tools/octal
mtrace
*.o
*.d
